@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap'); //font

//colors
$blue:#3c47e9;
$dark-blue:#1e213a;
$light-blue:#100e1d;
$text-color:#e7e7eb;
$text-gray-color:#a09fb1;
$placeholder-color:#616475;
$btn-background:#6e707a;

//imports
@import './reboot';
@import './extends';
@import './mixins';
@import './layout';
@import './components';