.content{

    display: flex;
    height: 100vh;
    &-left{

        background-color: $light-blue;
        position: relative;
        z-index: 1;

        &::after{
            content: "";
            background-image: url("./images/background.jpg");
            background-repeat: no-repeat;
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.05;
            z-index: -1;
        }
    }

    &-right{
        display: flex;
        padding: 50px;
        margin: 0 auto;
        max-width: 700px;
        flex:1;
        flex-direction: column;

        .temp-types{
            display: flex;
            justify-content: flex-end;
        }

    }
}